@using DanielIncidentReporting.Models
@model LoginViewModel
@{
    ViewBag.Title = "Manager Log In";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>Contact your System Administrator to create your account.</h4>


    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <table>
                        <tr>
                            <!-- Email -->
                            <td class="field-label">
                                @Html.LabelFor(m => m.Email, new { @class = "tiny-label" })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Email, new { @class = "large-textinput", maxlength = "255" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td class="spacer-height2" colspan="2"></td>
                        </tr>
                        <tr>
                            <!-- Password -->
                            <td class="field-label">
                                @Html.LabelFor(m => m.Password, new { @class = "tiny-label" })
                            </td>
                            <td>
                                @Html.PasswordFor(m => m.Password, new { @class = "large-textinput" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <!-- Remember Me? -->
                            <td>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                &nbsp;
                                @Html.LabelFor(m => m.RememberMe)
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <!-- Submit Button -->
                            <td>
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <!-- Forgot Password -->
                            <td>
                                @*Enable this once you have account confirmation enabled for password reset functionality*@
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        }
    </section>
</div>

<div class="col-md-4">
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}