@using DanielIncidentReporting.Models
@model LoginViewModel
@{
    ViewBag.Title = "Manager Log In";
}

<div>
    @*<div class="container">*@
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>Contact your System Administrator to create your account.</h4>

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()

            <hr/>

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <table class="table-borderless">
            <tr>
            <!-- Email -->
            <td class="size-3-wide">
                @Html.LabelFor(m => m.Email, new {@class = "customlabel"})
            </td>
            <td class="size-5-wide">
            @Html.TextBoxFor(m => m.Email, new {@class = "raptorInputText" })
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                    <td></td>
                </tr>
                <tr>
                    <!-- Password -->
                    <td>
                        @Html.LabelFor(m => m.Password, new { @class = "customlabel" })
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.Password, new { @class = "raptorInputText" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <!-- Remember Me? -->
                    <td>
                        @Html.CheckBoxFor(m => m.RememberMe)
                        &nbsp;
                            @Html.LabelFor(m => m.RememberMe, new { @class = "customlabel" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <!-- Submit Button -->
                    <td>
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <!-- Forgot Password -->
                    <td>
                        @*Enable this once you have account confirmation enabled for password reset functionality*@
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </td>
                    <td></td>
                </tr>
            </table>
        }
    </section>
</div>

<div>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}