@model DanielIncidentReporting.Models.Program
@{
    ViewBag.Title = "Manage Programs";
}

<h2>Manage Programs</h2>

<hr/>
<!-- Delete Program -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "delete" }))
{
    @Html.AntiForgeryToken()

    <div class="container form-group">
        @Html.LabelFor(model => model.Prg_ID, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownList("programId", (SelectList) ViewBag.programs, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Prg_ID, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Delete Program" class="btn btn-default" onClick="confirmation('Delete')" />
        </div>
    </div>
}


<hr/>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add" }))
{
    @Html.AntiForgeryToken()
    <!-- Add Program-->
    <div class="container form-group">
        @Html.Label("Add New Program", htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.Editor("programName", new {htmlAttributes = new {@class = "form-control", maxlength = "99" } })
            @Html.ValidationMessageFor(model => model.Prg_Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Add Program" class="btn btn-default" onClick="confirmation('Add')" />
        </div>
    </div>}

<script>
    function confirmation(action) {
        if (action == "Delete") {
            var r = confirm("Are you sure you want to delete the selected program?");
            if (r) {
                document.getElementById("delete").submit();
            } 

        } else {
            var programName = document.getElementById('programName').value;
            var r = confirm("Are you sure you want to add program " + programName + "?");
            if (r) {
                document.getElementById("add").submit();
            }
    }
}
</script>