@model DanielIncidentReporting.Models.Program
@{
    ViewBag.Title = "Manage Programs";
}

<h2>@ViewBag.Title</h2>

<div>
    <!-- Add Program-->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "add" }))
    {
        @Html.AntiForgeryToken()
        <div>

            <hr />

            <div>
                <h4>Add New Program</h4>
                <br />

                <table class="table-borderless">
                    <tr>
                        <td class="size-3-wide">
                            @Html.Label("New Program Name", htmlAttributes: new { @class = "raptorLabel" })
                        </td>
                        <td class="size-6-wide">
                            @Html.Editor("programName", new { htmlAttributes = new { @class = "raptorInputText", maxlength = "99" } })
                            @Html.ValidationMessageFor(model => model.Prg_Name, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="spacer-height2" colspan="2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Add Program" class="btn btn-default" onClick="confirmation('Add')" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }

    <!-- Delete Program -->
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "delete" }))
    {
        @Html.AntiForgeryToken()
        <div>

            <hr />

            <div>
                <h4>Delete Program</h4>
                <br />
                <table class="table-borderless">
                    <tr>
                        <td class="size-3-wide">
                            @Html.LabelFor(model => model.Prg_ID, htmlAttributes: new { @class = "raptorLabel" })
                        </td>
                        <td class="size-6-wide">
                            @Html.DropDownList("programId", (SelectList)ViewBag.programs, new { @class = "raptorInputText" })
                            @Html.ValidationMessageFor(model => model.Prg_ID, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="spacer-height2" colspan="2"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Delete Program" class="btn btn-default" onClick="confirmation('Delete')" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }

</div>
<script>
    function confirmation(action) {
        if (action == "Delete") {
            var r = confirm("Are you sure you want to delete the selected program?");
            if (r) {
                document.getElementById("delete").submit();
            }

        } else {
            var programName = document.getElementById('programName').value;
            var r = confirm("Are you sure you want to add program " + programName + "?");
            if (r) {
                document.getElementById("add").submit();
            }
        }
    }
</script>
