@model DanielIncidentReporting.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account</h4>
    <hr/>
       <!-- isActive defauls to 1 -->
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(model => model.isActive, new { @Value = "1" })
        </div>
    </div>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", maxlength = "255" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.mgrPosition, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <!-- To change the styling for this, -->
            <!-- I have to change the viewbag to be in the controller -->
            <!-- like the contrib factors in the Create view - Gina -->
            @Html.DropDownListFor(m => m.mgrPosition, new SelectList(new List<Object>
            {
                new {value = "Residential Manager", text = "Residential Manager"},
                new {value = "Department Director", text = "Department Director"},
                new {value = "Risk Manager", text = "Risk Manager"},
            }, "value", "text", 2))
            @Html.ValidationMessageFor(m => m.mgrPosition, "", new {@class = "text-danger"})
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.mgrPosition, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("mgrPosition", ViewBag.managerItems as List<SelectListItem>, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.mgrPosition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Program, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Program, (SelectList)ViewBag.programs, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Program, "", new { @class = "text-danger" })
        </div>
    </div>
  
<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
