@using DanielIncidentReporting.Models
@using Microsoft.AspNet.Identity
@using System.Net.Mail
@using System.Web.UI.HtmlControls

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <!--Original Action Method-->
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            
            @{
                MailAddress addr = new MailAddress(User.Identity.GetUserName());
                var uname = addr.User;
                
                //original ActionLink - go back to this if no time to style solutions below
                @*@Html.ActionLink("Hello " + uname + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                
                //temp fix - new ActionLink with no actionName or controllerName 
                @*@Html.ActionLink("Hello " + uname + "!", null, null, routeValues: null, htmlAttributes: new { title = "Manage" })*@
               
                //we want to use this, but needs styling
                @*<p>Hello @uname!</p>*@
                <a>Hello @uname!</a>
                
            }
            </li>
        <li>
            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })


         </li>

         @*code for risk manager functionality*@
        @{ 
            ApplicationDbContext context = new ApplicationDbContext();

            ApplicationUser user = context.Users.Where(m => m.UserName.Equals(User.Identity.Name)).FirstOrDefault();
        }
        @if (user.mgrPosition.Equals("Risk Manager"))
        {
            
            <li>@Html.ActionLink("Programs", "ManagePrograms", "Account")</li>
            <li>@Html.ActionLink("Users", "ManageUsers", "Account")</li>
            <li>@Html.ActionLink("Export", "ExportCSV", "IncidentReports")</li>
            <li>@Html.ActionLink("Search", "SearchByName", "IncidentReports")</li>
            <li>@Html.ActionLink("Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        

        <!-- Added dashboard link for logged in user, filtered by dept. -->
        <li>@Html.ActionLink("Dashboard", "Index", "IncidentReports")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
