@using DanielIncidentReporting.Models
@using Microsoft.AspNet.Identity
@using System.Net.Mail

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <!--Original Action Method-->
            @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            
            @{
                MailAddress addr = new MailAddress(User.Identity.GetUserName());
                var uname = addr.User;
                @Html.ActionLink("Hello " + uname + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            }
         </li>

         @*code for risk manager functionality*@
        @{ 
            ApplicationDbContext context = new ApplicationDbContext();

            ApplicationUser user = context.Users.Where(m => m.UserName.Equals(User.Identity.Name)).FirstOrDefault();
        }
        @if (user.mgrPosition.Equals("Risk Manager"))
        {
            <li>@Html.ActionLink("Manage Programs", "ManagePrograms", "Account")</li>
            <li>@Html.ActionLink("Manage Users", "ManageUsers", "Account")</li>
            <li>@Html.ActionLink("Export", "ExportCSV", "IncidentReports")</li>
        }
        

        <!-- Added dashboard link for logged in user, filtered by dept. -->
        <li>@Html.ActionLink("Dashboard", "Index", "IncidentReports")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Create Account", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
