@using System.Activities.Statements
@model DanielIncidentReporting.Models.IncidentReport

@{
    ViewBag.Title = "Report Incident";
}

<!-- Bootstrap datepicker : implemented at mentor's meeting -->
@*<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialize any date pickers
    });
</script>*@

<h2>Report an Incident</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

       <!-- HIDDEN ReportDate sysdate -->
        <div class="container form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.IRP_ReportDate, new {@Value = DateTime.Now})
            </div>
        </div>

        <!-- Prepared By First Name -->
        <div class="container form-group">
            <label class="control-label col-md-2">Prepared By</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IRP_PreparedByFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", maxlength = "49" } })
                @Html.ValidationMessageFor(model => model.IRP_PreparedByFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Prepare by last name -->
        <div class="container form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.EditorFor(model => model.IRP_PreparedByLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", maxlength = "49" } })
                @Html.ValidationMessageFor(model => model.IRP_PreparedByLastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <!-- Program Name -->
        <div class="container form-group">
            @Html.LabelFor(model => model.IRP_ProgramName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IRP_ProgramName, (SelectList)ViewBag.programs, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.IRP_ProgramName, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>
            var program;
            document.getElementById("");
        </script>

        <!-- Location -->
        <div class="container form-group">
            @Html.LabelFor(model => model.IRP_Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IRP_Location, new { htmlAttributes = new { @class = "form-control", @maxlength = "499" } })
                @Html.ValidationMessageFor(model => model.IRP_Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Incident Date -->
        @*<div class="container form-group">
            @Html.LabelFor(model => model.IRP_IncidentDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IRP_IncidentDate, htmlAttributes: new {@class = "form-control datepicker"})
                @Html.ValidationMessageFor(model => model.IRP_IncidentDate, "", new {@class = "text-danger"})
            </div>
        </div>*@

    <div class="container form-group">
        @Html.LabelFor(model => model.IRP_IncidentDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="row">
            <div class='col-xs-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function() {
                    $('#datetimepicker3').datetimepicker({
                        format: 'L'
                    });
                });
            </script>
        </div>
    </div>


    <hr/>



    <!-- Radio buttons for ReportOn -->
    <div class="container form-group">
        @Html.LabelFor(model => model.IRP_ReportOn, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButton("IRP_ReportOn", "Client") Client
            @Html.RadioButton("IRP_ReportOn", "Staff") Staff
            @Html.RadioButton("IRP_ReportOn", "N/A") N/A
            @Html.ValidationMessageFor(model => model.IRP_ReportOn, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Victim First name -->
    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.EditorFor(model => model.IRP_VictimFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", maxlength = "99" } })
            @Html.ValidationMessageFor(model => model.IRP_VictimFirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <!-- Victim Last name -->
    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.EditorFor(model => model.IRP_VictimLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name", maxlength = "99" } })
            @Html.ValidationMessageFor(model => model.IRP_VictimLastName, "", new { @class = "text-danger" })
        </div>
    </div>

        

        <!-- Nature of Incident: -->
        <hr />
        <div class="container form-group">
            @Html.LabelFor(model => model.IRP_Category, htmlAttributes: new { @class = "control-label" })
            <br />
            <div class="container checkbox col-md-4">
                <label>
                    <input type="checkbox" name="IRP_Category" value="Abuse allegation" />Abuse Allegation
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Death" />Death
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Involvement w/ police and/or fire/rescue personnel"/>Involvement w/ police and/or<br/> fire/rescue personnel
                </label>
                <br/>
                <label>
                    <input type="text" class="form-control" name="INC_PoliceReportNo" placeholder="Police Report No." maxlength = "49" >
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Suicide gestures" />Suicide gestures
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Unplanned hospitalization" />Unplanned hospitalization
                </label>
                <br />
            </div>
            <div class="container checkbox col-md-4">
                <label>
                    <input type="checkbox" name="IRP_Category" value="Sexual encounter" />Sexual encounter
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Substance abuse" />Substance abuse
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Medication error" />Medication error
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Injury" />Injury
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Client grievance" />Client grievance
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Physical restraint"/>Physical restraint
                </label>
                <br />
                <label>
                    <input type="text" class="form-control" name="INC_StartTime" placeholder="Start time">
                </label>
                <br />
                <label>
                    <input type="text" class="form-control" name="INC_EndTime" placeholder="End time">
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Seclusion"/>Seclusion
                </label>
                <br />
                <label>
                    <input type="text" class="form-control" name="INC_StartTime" placeholder="Start time">
                </label>
                <br />
                <label>
                    <input type="text" class="form-control" name="INC_EndTime" placeholder="End time">
                </label>
                <br />
            </div>
            <div class="container checkbox col-md-4">
                <label>
                    <input type="checkbox" name="IRP_Category" value="Property damage" />Property damage
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Property missing" />Property missing
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Theft" />Theft
                </label>
                <br />
                <label>
                    <input type="checkbox" name="IRP_Category" value="Other" />Other
                </label>
                <br />
            </div>
            @Html.ValidationMessageFor(model => model.IRP_Category, "", new { @class = "text-danger" })
        </div>
        <hr />

        <!-- Contributing Factors -->
        <div class="container form-group">
            <label class="control-label">Contributing Factors</label><br/>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.IRP_ContribFactor, ViewBag.abuseAllegationItems as List<SelectListItem>, new {@class="form-control"})
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.IRP_ContribFactor, ViewBag.physicalAggressionItems as List<SelectListItem>, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.IRP_ContribFactor, ViewBag.policeInvolvementItems as List<SelectListItem>, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.IRP_ContribFactor, ViewBag.injuryItems as List<SelectListItem>, new {@class = "form-control"})
            </div>
            @Html.ValidationMessageFor(model => model.IRP_ContribFactor, "", new { @class = "text-danger" })
        </div>

    <hr/>
    <!-- Injury Type -->
    <div class="container form-group">
        @Html.LabelFor(model => model.IRP_InjuryType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IRP_InjuryType, new { htmlAttributes = new { @class = "form-control", maxlength = "249" } })
            @Html.ValidationMessageFor(model => model.IRP_InjuryType, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Injury Body Part -->
    <div class="container form-group">
        @Html.LabelFor(model => model.IRP_BodyPart, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.IRP_BodyPart, new {htmlAttributes = new {@class = "form-control", maxlength = "249" } })
            @Html.ValidationMessageFor(model => model.IRP_BodyPart, "", new {@class = "text-danger"})
        </div>
    </div>

        <!--Injury FollowUp with dropdown-->
       <div class="container form-group">
            @Html.LabelFor(model => model.IRP_InjuryFollowUp, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IRP_InjuryFollowUp, (SelectList) ViewBag.injuryFollowUps, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.IRP_InjuryFollowUp, "", new {@class = "text-danger"})
            </div>
        </div>
    
        <!-- JUSTIN - do we need this if we are not writing back to an injuryFollowUp table? - Gina -->
        <script>
            var injuryFollowUp;
            document.getElementById("");
        </script>

        <!-- Notification -->
        <div class="container form-group">
            <label class="control-label col-md-2">Notification</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.IRP_Notified, new { htmlAttributes = new { @class = "form-control" }, @cols = "80", @rows = "4", @maxlength = "999" })
                <br />
                <small class="text-muted">
                    Notified Person Name, Position, Date of Notification.<br />
                    Maximum 1000 characters allowed.
                </small>
                @Html.ValidationMessageFor(model => model.IRP_Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <!-- Description -->
        <div class="container form-group">
            @Html.LabelFor(model => model.IRP_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.IRP_Description, new { htmlAttributes = new { @class = "form-control" }, @cols = "80", @rows = "4", @maxlength = "999" })
                <br />
                <small class="text-muted">
                    Maximum 1000 characters allowed.
                </small>
                @Html.ValidationMessageFor(model => model.IRP_Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr/>

        <!-- Witness Name -->
        <div class="container form-group">
            <!-- TODO: Change to model.IRP_NotifiedPerson -->
            <label class="control-label col-md-2">Witness</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.IRP_Witness, new { htmlAttributes = new { @class = "form-control" }, @cols = "80", @rows = "4", @maxlength = "999" })
                <br />
                <small class="text-muted">
                    Witness Name, Position.<br />
                    Maximum 1000 characters allowed.
                </small>
                @Html.ValidationMessageFor(model => model.IRP_Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />


    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}


