@model DanielIncidentReporting.Models.IncidentReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br />
<h4 class="h4-custom" id="reportCategory"></h4>

<div>

    <hr />

    <!-- Program Name and Location -->
    <div>
        <table class="table-borderless">
            <tr>
                <!-- Program Name -->
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_ProgramName)
                    </label>
                </td>
                <td class="size-6-wide">
                    @Html.DisplayFor(model => model.IRP_ProgramName)
                </td>
                <td></td>
            </tr>
            <tr>
                <!-- Location -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_Location)
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRP_Location)
                </td>
            </tr>
        </table>
    </div>

    <hr />

    <!-- Incident Date and Time -->
    <div>
        <table class="table-borderless">
            <tr>
                <!-- Incident Date -->
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_IncidentDate)
                    </label>
                </td>
                <!-- Incident Date -->
                <td class="size-2-wide">
                    @Model.IRP_IncidentDate.ToShortDateString()
                </td>
                <!-- Incident Time -->
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_IncidentTime)
                    </label>
                </td>
                <!-- Incident Time -->
                <td class="size-2-wide">
                    @Html.DisplayFor(model => model.IRP_IncidentTime)
                </td>
                <td></td>
            </tr>
            <tr>
                <!-- Report Date -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_ReportDate)
                    </label>
                </td>
                <!-- Report Date -->
                <td>
                    @Model.IRP_ReportDate.ToShortDateString()
                </td>
            </tr>
        </table>
    </div>

    <hr />

    <!-- Reported By -->
    <div>
        <table class="table-borderless">
            <tr>
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        Reported By
                    </label>
                </td>
                <td class="size-4-wide"></td>
                <td></td>
            </tr>
            <tr>
                <!-- Prepared By First Name -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_PreparedByFirstName)
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRP_PreparedByFirstName)
                </td>
            </tr>
            <tr>
                <!-- Prepared By Last Name -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_PreparedByLastName)
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRP_PreparedByLastName)
                </td>
            </tr>
        </table>
    </div>

    <hr />

    <!-- Report On -->
    <div>
        <table class="table-borderless">
            <tr>
                <!-- Report On -->
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_ReportOn)
                    </label>
                </td>
                <td class="size-4-wide">
                    @Html.DisplayFor(model => model.IRP_ReportOn)
                </td>
                <td></td>
            </tr>
            <tr>
                <!-- Report On First Name -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_VictimFirstName)
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRP_VictimFirstName)
                </td>
            </tr>
            <tr>
                <!-- Report On Last Name -->
                <td>
                    <label class="raptorLabel">
                        @Html.DisplayNameFor(model => model.IRP_VictimLastName)
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(model => model.IRP_VictimLastName)
                </td>
            </tr>
        </table>
    </div>

    <hr />

    <!-- Nature of Incident and Contributing Factors -->
    <div>
        <table class="table-borderless">
            <tr>
                <td class="size-3-wide">
                    <label class="raptorLabel">
                        Nature(s) of Incident
                    </label>
                </td>
                @if (Model.IRP_AbuseAllegation == "1" || Model.IRP_PhysicalRestraint == "1" || Model.IRP_PoliceFire == "1" || Model.IRP_Injury == "1" || Model.IRP_UnplannedHospitalization == "1" || Model.IRP_UnplannedHospitalization == "1" || Model.IRP_Seclusion == "1")
                {
                    <td class="size-3-wide">
                        <label class="raptorLabel">
                            Contributing Factors
                        </label>
                    </td>
                }
                else
                {
                    <td class="size-3-wide"></td>
                }
                <td class="size-3-wide"></td>
                <td class="size-2-wide"></td>
                <td class="size-3-wide"></td>
                <td class="size-2-wide"></td>
                <td class="size-2-wide"></td>
                <td class="size-2-wide"></td>
                <td></td>
            </tr>
            <tr>
                <!-- Items with Contributing Factors -->
                <!-- Abuse Allegation -->
                @if (Model.IRP_AbuseAllegation == "1")
                {
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_ContribAbuseAllegation)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_ContribAbuseAllegation)
                    </td>
                }
            </tr>
            <tr>
                <!-- Physical Restraint -->
                @if (Model.IRP_PhysicalRestraint == "1")
                {
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_ContribPhysicalAggression)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_ContribPhysicalAggression)
                    </td>
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_RestraintSTTime)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_RestraintSTTime)
                    </td>
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_RestraintENTime)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_RestraintENTime)
                    </td>
                }
            </tr>
            <tr>
                <!-- Police/Fire Involvement -->
                @if (Model.IRP_PoliceFire == "1")
                {
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_ContribPoliceInvolvement)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_ContribPoliceInvolvement)
                    </td>
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_PoliceRepNo)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_PoliceRepNo)
                    </td>
                }
            </tr>
            <tr>
                <!-- Injury -->
                @if (Model.IRP_Injury == "1")
                {
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_ContribInjuryItems)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_ContribInjuryItems)
                    </td>
                    if (Model.IRP_ContribInjuryItems == "Other")
                    {
                        <tr>
                            <td>
                                <label class="raptorLabel">
                                    Injury Description
                                </label>
                            </td>
                            <td colspan="7">
                                @Html.DisplayFor(model => model.IRP_ContribInjuryOtherText)
                            </td>
                        </tr>
                    }
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_InjuryType)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_InjuryType)
                    </td>
                    <td>
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_BodyPart)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_BodyPart)
                    </td>
                    <td>
                        <label class="raptorLabel">
                            Follow Up
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_InjuryFollowUp)
                    </td>
                }
                </tr>
                <tr>
                    <!-- Unplanned Hospitalization -->
                    @if (Model.IRP_UnplannedHospitalization == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                Hospitalization
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IRP_ContribUnplannedHospitalization)
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Sexual Encounter -->
                    @if (Model.IRP_SexualEncounter == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ContribSexualEncounter)
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IRP_ContribSexualEncounter)
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Seclusion -->
                    @if (Model.IRP_Seclusion == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ContribSeclusion)
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IRP_ContribSeclusion)
                        </td>
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_SeclusionSTTime)
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IRP_SeclusionSTTime)
                        </td>
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_SeclusionENTime)
                            </label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IRP_SeclusionENTime)
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Items with No Contributing Factors -->
                    <!-- Death -->
                    @if (Model.IRP_Death == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_Death)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Suicide Gestures -->
                    @if (Model.IRP_SuicideGestures == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_SuicideGestures)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- AMA -->
                    @if (Model.IRP_AMA == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_AMA)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Substance Abuse -->
                    @if (Model.IRP_SubstanceAbuse == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_SubstanceAbuse)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Medication Error -->
                    @if (Model.IRP_MedicationError == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_MedicationError)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Client Grievance -->
                    @if (Model.IRP_ClientGrievance == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ClientGrievance)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Property Damage -->
                    @if (Model.IRP_PropertyDamage == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_PropertyDamage)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Property Missing -->
                    @if (Model.IRP_PropertyMissing == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_PropertyMissing)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Theft -->
                    @if (Model.IRP_Theft == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_Theft)
                            </label>
                        </td>
                    }
                </tr>
                <tr>
                    <!-- Other -->
                    @if (Model.IRP_Other == "1")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_Other)
                            </label>
                        </td>
                    }
                </tr>
            </table>
        </div>

        <hr />

        <!-- Witness -->
        <div>
            <table class="table-borderless">
                <tr>
                    <!-- Witness -->
                    <td class="size-4-wide">
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_Witness)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_Witness)
                    </td>
                </tr>
            </table>
        </div>

        <hr />

        <!-- Notified Person -->
        <div>
            <table class="table-borderless">
                <tr>
                    <!-- Notified -->
                    <td class="size-4-wide">
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_Notified)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_Notified)
                    </td>
                </tr>
            </table>
        </div>

        <hr />

        <!-- Description -->
        <div>
            <table class="table-borderless">
                <tr>
                    <!-- Description -->
                    <td class="size-4-wide">
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_Description)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_Description)
                    </td>
                </tr>
            </table>
        </div>

        <!-- Risk Manager Comment -->
        <div id="riskMgrComment">
            <hr />
            <table class="table-borderless">
                <tr>
                    <!-- Risk Manager Comment -->
                    <td class="size-4-wide">
                        <label class="raptorLabel">
                            @Html.DisplayNameFor(model => model.IRP_RiskMgrComment)
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IRP_RiskMgrComment)
                    </td>
                </tr>
            </table>
        </div>

        <hr />

        <!-- Manager Approval Dates -->
        <div>
            <table class="table-borderless">
                <tr>
                    <td class="size-4-wide">
                        <label class="raptorLabel">
                            Manager Approval Dates
                        </label>
                    </td>
                    <td class="size-4-wide"></td>
                    <td class="size-3-wide"></td>
                    <td class="size-2-wide"></td>
                    <td></td>
                </tr>
                <!-- Residential Manager Approval Date -->
                <tr>
                    @if (Model.IRP_ResMgrApprovedDate.ToShortDateString() != "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ResMgrEmail)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_ResMgrEmail
                        </td>
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ResMgrApprovedDate)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_ResMgrApprovedDate.ToShortDateString()
                        </td>
                    }
                    else if (Model.IRP_ResMgrApprovedDate.ToShortDateString() == "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_ResMgrEmail)
                            </label>
                        </td>
                        <td>
                            Pending
                        </td>
                    }
                </tr>
                <!-- Department Director Approval Date -->
                <tr>
                    @if (Model.IRP_DeptDirApprovedDate.ToShortDateString() != "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_DepDirEmail)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_DepDirEmail
                        </td>
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_DeptDirApprovedDate)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_DeptDirApprovedDate.ToShortDateString()
                        </td>
                    }
                    else if (Model.IRP_DeptDirApprovedDate.ToShortDateString() == "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_DepDirEmail)
                            </label>
                        </td>
                        <td>
                            Pending
                        </td>
                    }
                </tr>
                <!-- Risk MAnager Approval Date -->
                <tr>
                    @if (Model.IRP_RiskMgrApprovedDate.ToShortDateString() != "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_RiskMgrEmail)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_RiskMgrEmail
                        </td>
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_RiskMgrApprovedDate)
                            </label>
                        </td>
                        <td>
                            @Model.IRP_RiskMgrApprovedDate.ToShortDateString()
                        </td>
                    }
                    else if (Model.IRP_RiskMgrApprovedDate.ToShortDateString() == "1/1/0001")
                    {
                        <td>
                            <label class="raptorLabel">
                                @Html.DisplayNameFor(model => model.IRP_RiskMgrEmail)
                            </label>
                        </td>
                        <td>
                            Pending
                        </td>
                    }
                </tr>
            </table>
            <hr />
        </div>

    </div>

    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.IRP_ID }) |
        @Html.ActionLink("Approve Incident", "Approve", new { id = Model.IRP_ID }, new { onclick = "return confirm('Are you sure you want to apporve this incident?');" })
    </p>

    <script language="javascript" type="text/javascript">
        //Show Risk Manager Comment Field if user is a Risk Manager
        $(function isRiskManager() {
            var mgrPosition = '@(ViewBag.mgrPosition)';
            if (mgrPosition == "Risk Manager") {
                $('#riskMgrComment').show();
            }
            else if (mgrPosition != "Risk Manager") {
                $('#riskMgrComment').hide();
            }
        });

        //Show Report Category as RED if "Serious"
        $(function isCategorySerious() {
            var reportCategoryValue = '@Html.DisplayTextFor(model => model.IRP_Category)';
            var reportCategoryName = '@Html.DisplayNameFor(model => model.IRP_Category): ';
            if (reportCategoryValue == "Serious") {
                var result = reportCategoryName.concat(reportCategoryValue.fontcolor("red"));
                document.getElementById("reportCategory").innerHTML = result;
            }
            else if (reportCategoryValue != "Serious") {
                var result = reportCategoryName.concat(reportCategoryValue.fontcolor("black"));
                document.getElementById("reportCategory").innerHTML = result;
            }
        });

    </script>