@model DanielIncidentReporting.Models.IRTSDBContext2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IncidentReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_ReportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_ReportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_IncidentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_IncidentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_VictimFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_VictimFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_VictimLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_VictimLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_ReportOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_ReportOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_ResMgrApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_ResMgrApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_DeptDirApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_DeptDirApprovedDate)
        </dd>
       
         <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_RiskMgrApprovedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_RiskMgrApprovedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_RiskMgrComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_RiskMgrComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_PreparedByFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_PreparedByFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_PreparedByLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_PreparedByLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_InjuryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_InjuryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_BodyPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_BodyPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_InjuryFollowUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_InjuryFollowUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_ApprovalLevelReq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_ApprovalLevelReq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentReport.IRP_ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentReport.IRP_ProgramName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidentReport.IRP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
